<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Written and Spoken Communication Skills</title>
<style type="text/css">

</style>

<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">Electronic Web Portfolio</h1>
	</div>
	<br />

	<div class="maindiv">
		<div class="menutab">
			<a href="index.html" class="menulink" title="Go Home"> Home</a>
		</div>
		
		<div class="menutab">
			<a href="resume.html" class="menulink" title="Resume"> Resume</a>
		</div>
		
		<div class="menutab">
			<a href="graphics.html" class="menulink" title="Graphics Production and Preparation"> Graphics production and preparation</a>		
		</div>
		
		<div class="menutab">
			<a href="com_skill.html" class="menulink" title="Written and Spoken Communication skills"> Communication skills</a>		
		</div>
	
		<div class="menutab">
			<a href="project_mgmt.html" class="menulink" title="Project Management"> Project Management</a>		
		</div>
		
		<div class="menutab">
			<a href="web_skill.html" class="menulink" title="Web Development Skills"> Web Development Skills</a>		
		</div>
	</div>
<hr>
	<div align="center">
		<h2>Written and Spoken Communication Skills</h2>
	</div>
	<div style="margin-right:100px">
		<p>
			Communication is simply the act of transferring information from one place, person or group to 
			another. Every communication involves (at least) one sender, a message and a recipient. This 
			may sound simple, but communication is actually a very complex subject.
		</p>
		<p>
			The transmission of the message from sender to recipient can be affected by a huge range of things. These include our 
			emotions, the cultural situation, the medium used to communicate, and even our location. The 
			complexity is why good communication skills are considered so desirable by employers around the 
			world: accurate, effective and unambiguous communication is actually extremely hard.
		</p>
		<h3>Categories of Communication</h3>
		<p>The different categories of communication include:</p>
		<ul>
			<li>
				<b>Spoken or Verbal Communication,</b> which includes face-to-face, telephone, radio or television 
				and other media.
			</li>
			<li>
				<b>Non-Verbal Communication,</b> covering body language, gestures, how we dress or act, where we 
				stand, and even our scent. There are many subtle ways that we communicate (perhaps even 
				unintentionally) with others. For example, the tone of voice can give clues to mood or 
				emotional state, whilst hand signals or gestures can add to a spoken message.
			</li>
			<li>
				<b>Written Communication:</b> which includes letters, e-mails, social media, books, magazines, the 
				Internet and other media. Until recent times, a relatively small number of writers and 
				publishers were very powerful when it came to communicating the written word. Today, we can 
				all write and publish our ideas online, which has led to an explosion of information and 
				communication possibilities.
			</li>
		</ul>
	</div>
	<div>
		<h3>Examples of communication skills</h3>
		<p>There are different types of communication skills you can learn and practice to help you become an 
			effective communicator. Many of these skills work together making it important to practice 
			communication skills in different contexts whenever possible.</p>
			<ul>
				<li>
					<b>Active listening</b><br>
					Active listening means paying close attention to the person who is speaking to you. People who are 
					active listeners are well-regarded by their co-workers because of the attention and respect they 
					offer others. While it seems simple, this is a skill that can be hard to develop and improve. You 
					can be an active listener by focusing on the speaker, avoiding distractions like cell phones, 
					laptops or other projects and by preparing questions, comments or ideas to thoughtfully respond.
				</li>
				<li>
					<b>Friendliness</b><br>
					In friendships, characteristics such as honesty and kindness often foster trust and understanding.
					The same characteristics are important in workplace relationships. When you are working with others, 
					approach your interactions with a positive attitude, keep an open mind and ask questions to help you 
					understand where they are coming from. 
				</li>
				<li>
					<b>Confidence</b><br>
					In the workplace, people are more likely to respond to ideas that are presented with 
					confidence. There are many ways to appear confident such as making eye contact when you are 
					addressing someone, sitting up straight with your shoulders open and preparing ahead of time so your
					thoughts are polished.
				</li>
			</ul>
	</div>

<hr>
<p align="center">&copy;Copyright Electronic Web Portfolio 2018-2019</p>
</body>

</html>



