<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>King's Music Store</title>
<link rel="stylesheet" type="text/css" href="Style.css">
<style type="text/css">

input[type=text], input[type=email] {
	/* width: 100px;
	height: 10px; */
	padding: 6px 8px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 3px;
}

.btn {
	background-color: #4CAF50;
	padding: 8px;
	font-size: 17px;
	font-family: Arial;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

sup {
	color: red;
	font-size: 15px;
}
</style>

<script type="text/javascript">
function welcome()
{
	alert("Welcome to the Kings Music Store - Newsletter Signup");
}

function emptyCheck()
{
	var firstName = document.getElementById("first_name").value;
	var lastName = document.getElementById("last_name").value;
	if (firstName.length===0 || lastName.length===0) {
		alert("Field First Name and Last Name cannot be empty!!!!!!!!!!!!");
		event.preventDefault();
	}
}

</script>
</head>
<body onload="welcome()">
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">King's Music Store</h1>
	</div>
	<br />

<hr>
	<div align="center">
		Welcome to King's Music Store. Please fill below form to sign up for an email newsletter from the site.

	<hr />
	<div>
		<form name="signupform" method="POST"
			action="http://infotech.scu.edu.au/cgi-bin/echo_form" autocomplete="off">

			<div align="center">
				<table cellpadding="6">
					<tr>
						<td>First Name<sup>*</sup></td>
						<td><input type="text" name="first_name" id="first_name"
							placeholder="First Name" /></td>
						<td>Last Name<sup>*</sup></td>
						<td><input type="text" name="last_name" id="last_name"
							placeholder="Last Name" /></td>
						<td>Email Address<sup>*</sup></td>
						<td><input type="email" name="email" id="email"
								placeholder="Email Address" required/></td>
					</tr>
					<tr>
						<td colspan="3">Select Age group : <br>
						<input type="radio" name="age" value="15-25" />
						<label>15-25</label><br/>
						<input type="radio" name="age" value="26-35" />
						<label>26-35</label><br/>
						<input type="radio" name="age" value="36-45" />
						<label>36-45</label><br/>
						<input type="radio" name="age" value="46-55" />
						<label>46-55</label><br/>
						<input type="radio" name="age" value="55+" />
						<label>55+</label>
						</td>
						<td colspan="3">Select Music You Like : <br/>
							<input type="checkbox" value="heavymetal" id="heavymetal" />
							<label>Heavy Metal</label><br/>
							<input type="checkbox" value="country" id="country" />
							<label>Country and Western</label><br/>
							<input type="checkbox" value="classical" id="classical" />
							<label>Classical</label><br/>
							<input type="checkbox" value="rock" id="rock" />
							<label>Rock & Roll</label><br/>
							<input type="checkbox" value="pop" id="pop" />
							<label>Pop</label>
							<input type="checkbox" value="folk" id="folk" />
							<label>Folk</label>
							<input type="checkbox" value="blues" id="blues" />
							<label>Blues</label>
							<input type="checkbox" value="jazz" id="jazz" />
							<label>Jazz</label>
							<input type="checkbox" value="disco" id="disco" />
							<label>Disco</label>
							<input type="checkbox" value="opera" id="opera" />
							<label>Opera</label>
						</td>
					</tr>
					<tr>
						<td colspan="3">
								<label>Please tell us about any further type of music you are <br>searching for : </label>
						</td>	
						
						<td colspan="3">
							<textarea rows="3" cols="60"></textarea>
						</td>
					</tr>

					<tr>	
						<td colspan="6" align="center">
							<button class="btn"	type="submit" onclick="emptyCheck()" >Confirm & Save</button>
							<button class="btn" type="reset" >Reset</button>
						</td>
					</tr>
				</table>

				<div style="color: red" align="left">* mark fields are
					mandatory</div>
			</div>
		</form>
	</div>

	</div>

<hr>
<p align="center">&copy;Copyright Electronic Web Portfolio 2018-2019</p>
</body>

</html>



