<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Project Management</title>
<style type="text/css">
</style>

<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">Electronic Web Portfolio</h1>
	</div>
	<br />

	<div class="maindiv">
		<div class="menutab">
			<a href="index.html" class="menulink" title="Go Home"> Home</a>
		</div>
		
		<div class="menutab">
			<a href="resume.html" class="menulink" title="Resume"> Resume</a>
		</div>
		
		<div class="menutab">
			<a href="graphics.html" class="menulink" title="Graphics Production and Preparation"> Graphics production and preparation</a>		
		</div>
		
		<div class="menutab">
			<a href="com_skill.html" class="menulink" title="Written and Spoken Communication skills"> Communication skills</a>		
		</div>
	
		<div class="menutab">
			<a href="project_mgmt.html" class="menulink" title="Project Management"> Project Management</a>		
		</div>
		
		<div class="menutab">
			<a href="web_skill.html" class="menulink" title="Web Development Skills"> Web Development Skills</a>		
		</div>
	</div>
<hr>
	<div align="center">
		<h2>Project Management</h2> 
	</div>
	<div style="margin-right:100px">
		<p>
			Project management is the practice of applying knowledge, skills, tools, and techniques to complete a 
			project according to specific requirements. It comes down to identifying the problem, creating a plan 
			to solve the problem, and then executing on that plan until the problem has been solved. That may sound 
			simple, but there is a lot that goes into it at every stage of the process.
		</p>
		<p>Below are some of the project management skills : </p>
		<ul>
			<li>
				<b>Leadership</b><br>
				Project managers are essentially the team leaders. They are responsible for setting the vision for the 
				team and ensuring everyone is on board and motivated to bring the project through each phase. This requires
				being able to get buy-in from executives as well as project team members, and ensuring all workers have 
				the time, tools, and other resources they need to get their jobs done. Interpersonal skills are a must.
			</li>
			<li>
				<b>Communication</b><br>
				Going hand in hand with leadership capabilities, excellent communication skills are critical to the 
				success of any project manager. You need to make sure all relevant stakeholders are up to date on the 
				latest goings-on with the project, so as to keep them on board, ensure they understand any changes and 
				potentially head off any issues. This means coming up with a plan for how — and how frequently — to touch
				base with them.
			</li>
			<li>
				<b>Risk management</b><br>
				As a project manager, you need to be a master risk manager, as well. That means having an ability to 
				predict what might go wrong and plan for it, as well as build flexibility into your project plan to 
				account for unexpected changes. Communicating regularly with stakeholders is particularly important.
			</li>
			<li>
				<b>Cost Management</b><br>
				You can’t do anything without the money to pay for it. You have created a budget. Your first job is 
				to make sure that budget is realistic and can meet the financial needs of the project, and, secondly,
				controlling those costs through the execution of the project. This is easier said than done.
			</li>
			<li>
				<b>Critical Thinking</b><br>
				Project managers are not the only ones who could benefit from this skill. Most of us are not thinking, 
				but reacting and following a series of responses that we have either been told or learned. It is not 
				such a bad thing. You can sometimes be on autopilot, but you better know how to switch it off. Critical
				thinking is simply being as objective as you can in analyzing and evaluating an issue or situation, 
				so that you can form an unbiased judgement.
			</li>
		</ul>
	</div>

<hr>
<p align="center">&copy;Copyright Electronic Web Portfolio 2018-2019</p>
</body>

</html>



