<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Electronic Web Portfolio</title>
<style type="text/css">
</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">Electronic Web Portfolio</h1>
	</div>
	<br />

	<div class="maindiv">
		<div class="menutab">
			<a href="index.html" class="menulink" title="Go Home"> Home</a>
		</div>
		
		<div class="menutab">
			<a href="resume.html" class="menulink" title="Resume"> Resume</a>
		</div>
		
		<div class="menutab">
			<a href="graphics.html" class="menulink" title="Graphics Production and Preparation"> Graphics production and preparation</a>		
		</div>
		
		<div class="menutab">
			<a href="com_skill.html" class="menulink" title="Written and Spoken Communication skills"> Communication skills</a>		
		</div>
	
		<div class="menutab">
			<a href="project_mgmt.html" class="menulink" title="Project Management"> Project Management</a>		
		</div>
		
		<div class="menutab">
			<a href="web_skill.html" class="menulink" title="Web Development Skills"> Web Development Skills</a>		
		</div>
	</div>
<hr>
	<div align="center">
		Welcome to Electronic Web Portfolio. Use the menu to navigate to different skills sections. 
	</div>

<hr>
<p align="center">&copy;Copyright  2018-2019</p>
</body>

</html>



