<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Electronic Web Portfolio</title>
<style type="text/css">
h1 {
	font-family: Arial, Helvetica, sans-serif;
}

.menu{
	display: inline;
}

a {
	margin-right: 5px;
	color: white;
	background-color: #4CAF50;
	padding: 12px;
	font-size: 15px;
	font-family: Arial;
	cursor: pointer;
	display: inline;
	text-decoration: none;
	color: white
}

a:HOVER {
	background-color: #3e8e41;
	font-weight: lighter;
}

.maindiv{
	width: 100%;
	margin-bottom: 20px
	
}

</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">Electronic Web Portfolio</h1>
	</div>
	<br />

<div class="maindiv">
	<div class="menu">
		<a href="index.html" title="Go Home"> Home</a>
	</div>
	
	<div class="menu">
		<a href="resume.html" title="Resume"> Resume</a>
	</div>
	
	<div class="menu">
		<a href="graphics.html" title="Graphics Production and Preparation"> Graphics production and preparation</a>		
	</div>
	
	<div class="menu">
		<a href="com_skill.html" title="Written and Spoken Communication skills"> Communication skills</a>		
	</div>

	<div class="menu">
		<a href="project_mgmt.html" title="Project Management"> Project Management</a>		
	</div>
	
	<div class="menu">
		<a href="web_skill.html" title="Web Development Skills"> Web Development Skills</a>		
	</div>
</div>
<hr>
	<div align="center">
		Welcome to Electronic Web Portfolio. Use the menu to navigate to different skills sections. 
	</div>

<hr>
<p align="center">&copy;Copyright  2018-2019</p>
</body>

</html>



