<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Electronic Web Portfolio</title>
<style type="text/css">

</style>
<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
	<div style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); padding: 25px">
		<h1 align="center">Electronic Web Portfolio</h1>
	</div>
	<br />

	<div class="maindiv">
			<div class="menutab">
				<a href="index.html" class="menulink" title="Go Home"> Home</a>
			</div>
			
			<div class="menutab">
				<a href="resume.html" class="menulink" title="Resume"> Resume</a>
			</div>
			
			<div class="menutab">
				<a href="graphics.html" class="menulink" title="Graphics Production and Preparation"> Graphics production and preparation</a>		
			</div>
			
			<div class="menutab">
				<a href="com_skill.html" class="menulink" title="Written and Spoken Communication skills"> Communication skills</a>		
			</div>
		
			<div class="menutab">
				<a href="project_mgmt.html" class="menulink" title="Project Management"> Project Management</a>		
			</div>
			
			<div class="menutab">
				<a href="web_skill.html" class="menulink" title="Web Development Skills"> Web Development Skills</a>		
			</div>
		</div>
	<hr>
	<div align="center">
		<h1>Resume</h1>
	</div>
	<div style="padding-left: 5%">
		<div>
			<h3>Personal Details</h3>
			<b>Name : </b>Navjot Kaur<br>
			<b>Email Id : 	</b>navjoootkaur@gmail.com<br>
			<b>Address : </b>55 Cooney Circuit, Kalkallo, VIC 3064<br>
			<b>Contact No : </b>0432 848 841
		</div>
		<div>
			<h3>Career Objective</h3>
			I am currently studying my Bachelor in IT at Southern Cross University (SCU) and am looking for a 
			part time position to support my studies. I am hardworking and conscientious and flexible with my 
			work hours. I am ideally looking for a team environment, where I can contribute to the success of 
			the business and feel like an integral part of that team. In exchange for this level of job 
			satisfaction, I can offer loyalty, reliability, flexibility and commitment.
		</div>
		<div>
			<h3>Skills</h3>
			<ul type="square">
				<li>Multi lingual<br>
					<ul>
						<li>English</li>
						<li>Hindi</li>
					</ul>
				</li>
				<li>Computer Literate<br>
					<ul>
						<li>Microsoft Office<br>
							<ul type="disc">
								<li>Excel</li>
								<li>Word</li>
								<li>Powerpoint</li>
								<li>Outlook</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>Able to build rapport quickly</li>
				<li>Ability to prioritise & co-ordinate tasks to meet deadlines</li>
				<li>Superb organisation and time management skills</li>
				<li>Happy and friendly personality</li>
				<li>Self-motivated with good energy levels</li>
				<li>Highly organized, I take pride in never missing a deadline</li>
				<li>Excellent written and verbal communication skills</li>
				<li>Strong Attention to detail</li>
				<li>Fast learner, can pick up new systems and processes quickly and efficiently</li>
				<li>Honest and punctual</li>
				<li>Easily adjust to new environments</li>

			</ul>
		</div>
		<div>
			<h3>Educational Qualifications</h3>
			<ul>
				<li>
					<b>Graduation</b><br>
					<ul type="none">
						<li><b>Course : </b>Bachelor Information Technology (IT)</li>
						<li><b>University : </b>Southern Cross University</li>
						<li><b>Duration : </b>Due to graduate 2021</li>
					</ul>
				</li>
				<li><b>School</b><br>
				Successfully completed Secondary School in May 2018 (Chaman Vatika International School).
				</li>
			</ul>	
		</div>

	</div>

<hr>
<p align="center">&copy;Copyright Electronic Web Portfolio 2018-2019</p>
</body>

</html>



